# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
MANIFEST

# Virtual environments
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Secrets / env files
.env
.env.*
*.pem
*.key
